/* Site Header */

#logo img {
  width: 20%;
}

#logo img {
  width: 20%;
}

.hero {
  height: 60vh;
  background-image: url(../images/plus_ultra3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav li {
    display: inline-flex;
    margin-right: 10px;

}

ul li {
    list-style: none;
}


.about_me {
  display: inline-flex;
  margin-top: 10%;
  width: 60%;
  
}

.about_me {
  display: inline-flex;
  margin-top: 10%;
  width: 40%;
  border: .5px solid black;
  
}

.my_face img {
  width: 60%;
}

.projects {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-bottom: 2%;
}

.project {
  margin-left:5% ;
  border: .5px solid black;
  padding: 10px;
}




ul li {
    list-style: none;
}

.links a {
  text-decoration: none;
  color:aliceblue;
  margin-left: 5%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:blueviolet;

}