/* Site Header */

#logo img {
  width: 20%;
}

.hero {
  height: 60vh;
  background-image: url(./images/plus_ultra3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 2%
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_me {
  display: inline-flex;
  width: 40%;
  border:.5px solid black;
}

.bio {
  margin-right: 10%;
}

.my_face img {
  width: 60%;
}

.projects {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 10%;
}

.project {
  margin-left:5% ;
}



nav li {
    display: inline-flex;
    margin-right: 10px;

}

ul li {
    list-style: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:blueviolet;
  color: white;

}